:root {
  --color-primary: rgb(28, 40, 59);
  --color-navigation: rgb(249, 250, 251);
  --color-background: rgb(101, 110, 131);
  --color-accent: rgb(10, 107, 255);
  --color-date: rgb(107, 114, 128);
  --color-background-input: rgb(239, 242, 249);
  --color-placeholder: rgb(159, 166, 187);
  --color-accent: rgb(100, 149, 237);
  --color-preview-background: rgb(25, 25, 112);
  --border-color: rgba(0, 0, 0, 0.15);
  --stripe-color: rgba(10, 107, 255, 0.2);
  --text-muted: rgb(107, 114, 128);
}

body {
  height: 100vh;
  min-width: 360px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.App-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 0.9rem;
  /* text linear gradient */
  background: linear-gradient(90deg, #111, #555);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

/* input file */
input[type="file"] {
  display: none;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--color-placeholder);
  border-radius: 5px;

  width: auto;
  margin-bottom: 0.3rem;
  color: var(--text-muted);
}

.dropzone.drag-over {
  border: 2px dashed var(--color-accent);
  background: var(--stripe-color);
}

.dropzone.disabled {
}

.dropzone.file-uploaded {
  color: hsl(120, 30%, 50%);
  border-color: hsl(120, 70%, 70%);
  background: hsl(120, 73%, 90%);
  pointer-events: none;
}

.dropzone-file {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dropzone-label {
  padding: 0.5rem 0.5rem;
  font-size: small;
  font-weight: 500;
  text-align: center;
}

.dropzone-label-emphasis {
  font-weight: 700;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.flex-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.range-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100%;
}

.input-range-label {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

input[type="range"] {
  width: 100%;
  height: 10px;
  border-radius: 0.25rem;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-background);
  border-radius: 5px;
  overflow: hidden;
}

.accent {
  color: var(--color-accent);
}

.bg-accent {
  background-color: var(--color-accent);
}

.level-label {
  position: relative;
  color: var(--color-noskill);
  height: auto;
  width: auto;
  cursor: pointer;
}

button {
  background-color: var(--color-accent);
  border-radius: 0.25rem;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;

  cursor: pointer;
  display: flex;
  align-items: center;

  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  min-height: 2em;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

button:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

.bordered-container {
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 1rem;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.chevron {
  margin-left: 0.5rem;
  height: 24px;
  width: 24px;
  transition: all 0.1s ease-in-out;
}
.chevron-open {
  transform: rotate(180deg);
}

.chevron-closed {
  transform: rotate(0deg);
}

.level-selected:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.level-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  max-height: 36px;
  height: 100%;
  max-width: 220px;
  min-height: 20px;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid var(--color-navigation);

  margin-left: auto;
  margin-right: auto;
  user-select: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 0rem;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.form-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-background);
}

.preview-container {
  background-color: var(--color-preview-background);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #333;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
}

.progresss {
  position: relative;
  background-color: black;
  width: 100%;
  height: 8px;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border-radius: 3px;
  padding: 12px 16px;
  width: auto;
  display: flex;
  caret-color: var(--color-accent);
  background-color: var(--color-background-input);
  outline: currentcolor none medium;
  border: 0px none;
  color: rgb(30, 37, 50);
  transition: all 0.1s ease 0s;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

input:focus {
  outline: none;
}

.input-border {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  border-radius: 0px 0px 2px 2px;
  pointer-events: none;
  opacity: 0;
  transform: scaleX(0.5);
  transition: all 0.2s ease 0s;
}

.bg-stripes {
  background-image: linear-gradient(
    135deg,
    var(--stripe-color) 25%,
    transparent 25%,
    transparent 50%,
    var(--stripe-color) 50%,
    var(--stripe-color) 75%,
    transparent 75%,
    transparent
  );
  background-size: 0.5rem 0.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  max-width: 100vw;
  padding: 1rem;
  max-height: 100vh;
  height: 100%;
}

input:focus-within + .input-border {
  opacity: 1;
  transform: scaleX(1);
}

input::placeholder {
  color: var(--color-placeholder);
}

.input-label {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: rgb(130, 139, 162);
  margin-bottom: 6px;
}

.pointer {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 4rem;
}

.header-name {
  margin: 0.45rem;
  text-align: center;
  color: var(--color-primary);
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: var(--color-navigation);
  border-radius: 0.5rem;
  padding: 1rem 0.25rem;
  width: auto;
  margin: 0.45rem;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  border: 2px solid var(--color-primary);
}

.nav-item {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0 auto;
}

.title-light {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 300;
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-word;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.section-title {
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-word;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 16px;
  }
  .header {
    padding-bottom: 0rem;
  }
  .app {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 1rem;
  }
  .col-1 {
    grid-column: span 1 / span 1;
  }
  .col-2 {
    grid-column: span 1 / span 1;
  }
  .title::before {
    display: none;
  }
  .job,
  .list-item {
    text-align: justify !important;
    padding: 0.5rem;
    border-bottom: 1px dashed var(--color-primary);
    border-left: 0 !important;
  }
  .section-title {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header-name {
    font-size: 1.8rem;
  }
  .header-nav {
    flex-direction: row;
    padding: 0.25rem 0.5rem;
  }
  .nav-item {
    margin: 0.5rem 0.3rem;
  }
  #progress-container,
  #progress-bar {
    margin: 0.2rem 0 !important;
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.description {
  text-align: justify;
  text-justify: inter-word;
}

.cert-title {
  color: var(--color-primary);
  font-size: medium;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}
.cert-date {
  color: var(--color-date);
  font-size: 1rem;
  font-weight: 600;
  padding: 0rem;
  margin: 0rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
}

.job {
  padding-bottom: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  border-left: 2px solid var(--color-primary);
}

.title::before {
  content: "";
  position: absolute;
  top: 0.35rem;
  left: -1.3rem;
  width: 8px;
  height: 8px;
  background-color: var(--color-background);
  box-shadow: 0 0 0 2px var(--color-primary);
  border-radius: 9999px;
}

.date {
  color: var(--color-date);
  font-weight: 300;
  padding: 0rem;
  margin: 0rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.title {
  color: var(--color-primary);
  font-weight: 600;
  position: relative;
}
.job-date {
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
}

.icon {
  width: 20px;
  margin-right: 0.25rem;
  height: 20px;
  font-weight: 800;
}

.big-icon {
  width: 30px;
  margin-right: 0.25rem;
  height: 30px;
  font-weight: 800;
}
