/* Variables */
html {
  --ff-family: "Fira Sans", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-small: clamp(0.9rem, 0.17vw + 0.76rem, 0.89rem);
  --fs-regular: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fs-medium: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fs-large: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fs-big: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fs-huge: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 2rem;

  --lh-base: normal;
  /*  */
  --yankees-blue: 226, 26%, 20%;
  --japanese-indigo: 222, 22%, 24%;
  --clr-accent: 216, 100%, 45%;
  --ghost-white: 210, 50%, 98%;
  --lavender: 0, 0%, 96%;

  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --green: 100, 65%;
  --orange: 45, 80%;
  --red: 340, 60%;
  --blue: 220, 90%;
  --violet: 260, 90%;
  --yellow: 60, 90%;

  --dark: 0, 0%, 20%;
  --light: 0, 0%, 90%;
  --grey: 220, 10%, 45%;
  --soft-dark: hsl(0, 0%, 25%);
  --soft-light: hsl(0, 0%, 60%);

  --shadow: hsla(var(--black), 0.1);
  --border: hsla(var(--white), 0.2);

  --clr-text: hsl(var(--black));
  --clr-text-light: hsl(var(--light));
  --clr-tex-dark: hsl(var(--dark));
  --clr-text-muted: hsl(var(--grey));
  --clr-text-muted-dark: hsla(var(--grey));

  --bg-input: 222, 22%, 90%;
  --header-bg: 226 26% 90%;
  --smooth: all 0.5s 0s ease;
  --paper-background: rgb(244, 244, 244);
  --clr-placeholder: rgb(159, 166, 187);

  --bg-disabled: hsl(240, 10%, 95%);
  --clr-disabled: hsl(240, 10%, 80%);
  --header-height: 4.5rem;
}

/* Color scheme toggle */
.app[data-theme="dark"] {
  color-scheme: dark;
  --bg-header: hsl(var(--yankees-blue));
  --bg-app: hsl(var(--japanese-indigo));
  --clr-text: hsla(var(--light), 0.95);
  --clr-label: hsla(var(--blue), 95%, 0.7);
  --border: hsla(var(--light), 0.2);
  --clr-accent: 216, 100%, 60%;
  --bg-input: hsl(222, 22%, 34%);
  --bg-collapse: hsla(var(--japanese-indigo));
  --border: hsla(var(--light), 0.2);
  --clr-placeholder: hsla(var(--light), 1);
}

/* If no theme is set, use light theme */
.app[data-theme="light"],
.app:not([data-theme]) {
  --bg-app: hsl(220, 29%, 85%);
  --bg-header: hsl(var(--header-bg));
  --bg-input: hsl(222, 40%, 87%);
  --bg-collapse: hsla(var(--white));
  --clr-text: hsla(var(--dark), 1);
  --border: hsla(var(--dark), 0.1);
  --clr-label: hsl(223, 15%, 57%);
  --blue: 220, 60%;
}
