@import url("./colors.css");
@import url("./forms.css");
@import url("./layouts.css");
@import url("./buttons.css");
@import url("./print.css");
@import url("./snippets.css");
@import url("./collapse.css");
@import url("./navigation.css");
@import url("./card.css");
@import url("./templates.css");
@import url("level.css");
@import url("modal.css");
@import url("avatar.css");
@import url("preview.css");
@import url("mobile.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.app {
  display: flex;
  background-color: hsl(var(--clr-neutral));
  flex-direction: column;
  height: 100vh;
  width: 50vw;
}

.editor {
  margin: 0 auto;
  width: 100%;
}
.scrollable-content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

/* .grid-columns-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
} */

.scroll-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  width: auto;
  overflow: hidden;
  height: 4rem;
  pointer-events: none;
  z-index: 1;
}

/* Progress */

.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-input);
  border-radius: 8px;
  height: 10px;
}

.progress .bar {
  background: var(--progress-bar, --clr-neutral);
  border-radius: 8px;
  height: var(--progress-height);
}

/* Typography */

.title {
  font-weight: 600;
  /* color: #334; */
  color: var(--grey);
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--shadow);
}

.heading-2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.25px;
  line-height: 22px;
}

.label {
  font-size: small;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: auto;
  color: var(--label-color);
}

.text-muted {
  color: var(--grey);
}

/* Symbols */

.chevron {
  margin-left: 0.5rem;
  height: 24px;
  width: 24px;
  transition: all 0.2s ease-in-out;
}

.chevron-open {
  transform: rotate(-180deg);
}

.chevron-closed {
  transform: rotate(-0deg);
}
.icon {
  width: 20px;
  height: 20px;
  color: var(--primary);
  fill: white;
  /* font-weight: 800; */
}
