@import url("_variables.css");
@import url("fonts.css");
@import url("forms.css");
@import url("layouts.css");
@import url("buttons.css");
@import url("collapse.css");
@import url("header.css");
@import url("card.css");
@import url("level.css");
@import url("modal.css");
@import url("dropdown.css");
@import url("typography.css");
/*
  This sets the base font size to 10px, which makes it easier to work with rems.
  The important thing to understand is that the html tag font-size need not be the same as the font-size on the body tag. 
  */
html {
  color: var(--clr-text);
  font-size: 62.5%;
}

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--fs-medium);
  line-height: normal;
  scroll-behavior: smooth;
  font-family: var(--ff-family);

  font-weight: var(--fw-regular);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glass {
  border: none;
  -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
  backdrop-filter: blur(var(--glass-blur, 40px));
  background-color: transparent;
  background-image: linear-gradient(135deg, rgb(255 255 255 / var(--glass-opacity, 30%)) 0%, rgb(0 0 0/0%) 100%),
    linear-gradient(
      var(--glass-reflex-degree, 100deg),
      rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%,
      rgb(0 0 0/0%) 25%
    );
  box-shadow: 0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%)) inset, 0 0 0 2px #0000000d;
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

.text-muted {
  color: var(--clr-text-muted);
}

.container > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  background: hsl(var(--base-2));

  padding-top: var(--header-height);
  height: 100vh;
  width: 100vw;
}

.scrollable-content {
  height: 100%;
  overflow: auto;
}

/* Progress */

.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-input);
  border-radius: var(--border-radius);
  height: 10px;
}

.progress .bar {
  background: hsl(var(--accent));
  border-radius: var(--border-radius);
  height: var(--progress-height);
}

/* Symbols */

.chevron {
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.chevron-open {
  transform: rotate(-180deg);
}

.chevron-closed {
  transform: rotate(-0deg);
}
