@import url("_variables.css");
@import url("fonts.css");
@import url("forms.css");
@import url("layouts.css");
@import url("buttons.css");
@import url("collapse.css");
@import url("header.css");
@import url("card.css");
@import url("level.css");
@import url("modal.css");
@import url("dropdown.css");
@import url("typography.css");
/*
  This sets the base font size to 10px, which makes it easier to work with rems.
  The important thing to understand is that the html tag font-size need not be the same as the font-size on the body tag. 
  */
html {
  color: var(--clr-text);
  font-size: 62.5%;
}

/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--fs-medium);
  line-height: normal;
  scroll-behavior: smooth;
  font-family: var(--ff-family);
  font-weight: var(--fw-regular);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-muted {
  color: var(--clr-text-muted);
}

.container > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
  visibility: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  height: 100vh;
  width: 100vw;
}

.scrollable-content {
  height: 100%;
  background: var(--bg-main);
  overflow: auto;
}

/* Progress */

.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-input);
  border-radius: var(--border-radius);
  height: 10px;
}

.progress .bar {
  background: var(--clr-accent);
  border-radius: var(--border-radius);
  height: var(--progress-height);
}

/* Symbols */

.chevron {
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.chevron-open {
  transform: rotate(-180deg);
}

.chevron-closed {
  transform: rotate(-0deg);
}
