:root {
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button {
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: 16px 24px;
  border-radius: 0.25rem;
  transition: background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  cursor: pointer;
  border: 1px solid var(--shadow);
  user-select: none;
  pointer-events: auto;
  background-color: hsl(var(--clr-accent));
  color: rgb(30, 37, 50);
}

.button.borderless {
  border: none;
}
.button:hover {
  color: var(--blue-darkest);
  border-color: var(--blue-dark);
}

.block {
  width: 100%;
}

/* .button.blue {
  border-color: transparent;
  background-color: var(--blue-darkest);
  color: var(--white);
}

.button.blue:hover {
  background-color: var(--blue-dark);
}

.button.red {
  border-color: transparent;
  background-color: var(--red-dark);
  color: var(--white);
}

.button.red:hover {
  background-color: var(--red-darkest);
} */
