button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: background 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  pointer-events: auto;
}

.button {
  position: relative;
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: 1rem;
  /* height: 4rem; */
  background-color: hsl(var(--complementary));
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 2px solid transparent;
  color: hsl(var(--complementary-content));
  user-select: none;
}

.button:hover {
  background: hsl(var(--complementary-focus));
}

button:active {
  transform: scale(0.95);
}

/* if button has a class */

.button.block {
  width: 100%;
}

.button.accent {
  background: hsl(var(--accent));
  color: hsl(var(--accent-content));
}

.button.accent:hover {
  background: hsl(var(--accent-focus));
}
.button.red {
  background: hsl(var(--red));
  color: var(--red-content);
}

.button.red:hover {
  background: hsl(var(--red-focus));
}

.button.ghost {
  background: transparent;
  color: hsl(var(--complementary-content));
}

.button.ghost:hover {
  background-color: hsl(var(--surface-content, hsl(0, 0, 0)) / var(--bg-opacity));
  --bg-opacity: 0.2;
}
