button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: var(--clr-text);
  transition: background 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s;
  pointer-events: auto;
}

.button {
  position: relative;
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  text-align: center;
  padding: 0.8rem 1rem;
  background: var(--bg-button);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 2px solid transparent;
  color: var(--clr-text-dark);
  user-select: none;
  background: hsla(215, 28%, 17%, 0.2);
}

/* if button has a class */
.button:not([class=""]) {
  color: var(--clr-text-dark);
}

.button.block {
  width: 100%;
}

.button.primary {
  background: var(--clr-accent);
  color: var(--clr-text-light);
}

.button.red {
  background: hsl(var(--red));
  color: var(--clr-text-light);
}

.button.red:hover {
  background: hsl(var(--red), 0.95);
}

.outline:hover {
  background: transparent;
  color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
}
