.card-list {
  padding: 1rem 0.75rem;
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 0.5rem;
}

.card {
  overflow: hidden;
  background-color: var(--bg-header);
  border-radius: 0.75rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: clamp(200px, 100%, 480px);
}

.card.rounded {
  border-radius: 0.5rem;
}

.card-header {
  padding: 0.25rem 0.75rem;
  color: var(--clr-text);
  width: auto;
  border-bottom: 2px solid var(--shadow);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}

.card-content {
  padding: 0rem 1rem;
}

.card-actions {
  padding: 0.75rem 0rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.card-footer {
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
