.card-list {
  padding: 1rem 0.75rem;
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}

.card {
  overflow: hidden;
  background-color: var(--bg-header);
  border-radius: 0.75rem;
  height: fit-content;
  width: clamp(200px, 100%, 480px);
}

.card.rounded {
  border-radius: 0.5rem;
}

.card-header {
  padding: 1rem 1.2rem;
  color: var(--clr-text);
  font-size: var(--fs-large);
  font-weight: 300;
  box-shadow: 0 -0.2rem 0rem inset var(--shadow);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}

.card-header .card-title {
  font-size: var(--fs-large);
  font-weight: var(--ff-medium);
  margin: 0;
  padding: 0;
  line-height: normal;
  text-transform: none;
}

.card-content {
  padding: 0.75rem;
}

.card-actions {
  padding: 0.75rem 0rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.card-footer {
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
