.card-list {
  padding: 1rem 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  overflow: hidden;

  /* background-color: hsl(var(--clr-complementary)); */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 0.75rem;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(45px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--clr-accent);
  height: fit-content;
  width: clamp(200px, 100%, 480px);
}

.card.rounded {
  border-radius: 0.5rem;
}

.card-header {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border);
  color: hsla(var(--white), 0.75);
  /* background: hsla(var(--blue), 50%, 0.1); */
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}

.card-content {
  padding: 1rem;
}

.card-actions {
  padding: 0.75rem 0rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.card-footer {
  padding: 0.75rem 1rem;
  width: 100%;
  border-top: 1px solid hsla(var(--blue), 50%, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
