/* if there are more than 2 collapse-container add a separator */
.collapse-container:not(:last-child) {
  margin-bottom: 0.5rem;
  border-radius: 0;
  border-bottom: 1px solid var(--border);
}

.collapse-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 0.5rem;
  user-select: none;
}

.collapse-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text);
  width: 100%;
  font-weight: 600;
}

.titlew {
  font-size: small;
}

.collapse-content {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: medium;
  font-weight: 400;
}

.collapse-content.visible {
  height: auto;
  opacity: 1;
  overflow: visible;
  transition: height 200ms ease 0s, opacity 200ms ease 0s;
}

.collapse-content.hidden {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 200ms ease 0s, opacity 200ms ease 0s;
}
