/* if there are more than 2 collapse-container add a separator */
.collapse-container:not(:last-child) {
  border-radius: 0;
  border-bottom: 1px solid var(--border);
}

.collapse-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width: 100%;
  border-radius: 1.6rem;
  user-select: none;
}

.collapse-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text);
  font-size: var(--fs-base);
  width: 100%;
  line-height: normal;
  font-weight: var(--ff-regular);
}

.collapse-content {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

.collapse-content.visible {
  height: auto;
  opacity: 1;
  overflow: visible;
  transition: height 200ms ease 0s, opacity 200ms ease 0s;
}

.collapse-content.hidden {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height 200ms ease 0s, opacity 200ms ease 0s;
}
