/* Variables */
:root {
  --white: #fff;
  --primary: var(--violet-dark);
  --danger: #e53e3e;
  --primary-light: rgba(109, 153, 210, 0.195);
  --secondary: rgb(48, 65, 105);
  --paper-background: rgb(244, 244, 244);
  --background-input: #eff2f9;
  --color-placeholder: rgb(159, 166, 187);
  --shadow: rgba(0, 0, 0, 0.15);
  --muted: rgb(107, 114, 128);
  --label-color: rgb(130, 139, 162);
  --input-background: #eff2f9;

  /* Colors */
  /* Darkest */
  --yellow-darkest: hsl(50, 94%, 27%);
  --orange-darkest: hsl(30, 94%, 27%);
  --red-darkest: hsl(0, 94%, 27%);
  --green-darkest: hsl(140, 94%, 27%);
  --blue-darkest: hsl(200, 94%, 27%);
  --violet-darkest: hsl(260, 94%, 27%);
  /* Dark */
  --yellow-dark: hsl(50, 94%, 40%);
  --orange-dark: hsl(30, 94%, 40%);
  --red-dark: hsl(0, 94%, 40%);
  --green-dark: hsl(140, 74%, 40%);
  --blue-dark: hsl(200, 74%, 40%);
  --violet-dark: hsl(260, 94%, 40%);

  /* Medium */
  --yellow-medium: hsl(50, 94%, 65%);
  --orange-medium: hsl(30, 94%, 65%);
  --red-medium: hsl(0, 94%, 65%);
  --green-medium: hsl(140, 74%, 65%);
  --blue-medium: hsl(200, 74%, 65%);
  --violet-medium: hsl(260, 74%, 65%);
  /* Light */
  --yellow-light: hsl(50, 94%, 80%);
  --orange-light: hsl(40, 94%, 80%);
  --red-light: hsl(0, 94%, 80%);
  --green-light: hsl(140, 74%, 80%);
  --blue-light: hsl(200, 74%, 80%);
  --violet-light: hsl(260, 74%, 80%);
  /* Lighter */
  --yellow-lighter: hsl(50, 94%, 92%);
  --orange-lighter: hsl(40, 94%, 92%);
  --red-lighter: hsl(0, 94%, 92%);
  --green-lighter: hsl(140, 74%, 92%);
  --blue-lighter: hsl(200, 74%, 92%);
  --violet-lighter: hsl(260, 74%, 92%);

  --disabled-background: hsl(240, 10%, 95%);
  --disabled-color: hsl(240, 10%, 80%);

  /* Body */
  --template-margins: 0px;
  --template-paddings: 6px;
  --template-radius: 0px;
  --template-body-background: #f9fafb;
  --template-body-text-color: #3c5284;
  /* Header */
  --template-header-background: #3c5284;
  --template-header-text-color: #3c5284;
  --template-header-columns: 2;
}

.template-0 {
  --template-body-background: var(--template-body-background);
  --template-header-background: var(--template-accent);
  --template-header-text-color: var(--template-color);
}

.template-1 {
  /* Body */
  --template-body-background: #f9fafb;
  --template-body-text-color: black;
  /* Header */
  /* --template-header-background: #914843; */
  --template-header-background: #1d3759;
  --template-header-text-color: white;
  --template-header-columns: 1;
}
