:root {
  --clr-moon: hsl(60, 100%, 95%);
  --clr-sun: hsl(58, 90%, 55%);
  --clr-cloud: hsl(205, 15%, 95%);
  --clr-star: hsla(0, 0%, 100%, 0.95);
  --clr-crater: hsla(0, 0%, 50%, 0.1);
  --clr-crater-border: hsla(0, 0%, 0%, 0.1);
  --clr-sky-day: linear-gradient(to right, hsl(198, 78%, 86%), hsl(205, 85%, 90%));
  --clr-sky-night: linear-gradient(to right, hsl(230, 45%, 25%) 0%, hsl(245, 25%, 20%) 100%);
  --border-container: hsla(200, 30%, 50%, 0.9);
  --toggle-size-x: calc(var(--header-height) * 1.35);
  --toggle-size-y: calc(var(--header-height) / 1.85);
  --star-size-1: 1px;
  --star-size-2: 3px;
  --crater-size-1: 4px;
  --crater-size-2: 6px;
  --clr-satellite-border: hsl(38, 77%, 58%);
  --satellite-size: var(--toggle-size-y);
  --satellite-position: calc(var(--toggle-size-x) - var(--satellite-size));
}

.switch-theme-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  visibility: hidden;
}
.toggle {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: var(--toggle-size-x);
  height: var(--toggle-size-y);
  background: var(--clr-sky-day);
  border-radius: 100rem;
  box-shadow: 0 0 0 2px var(--border-container);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.satellite {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 1;
  top: calc(var(--toggle-size-x) * 0);
  left: calc(var(--toggle-size-x) * 0);
  width: var(--satellite-size);
  height: var(--satellite-size);
  border-width: 2px;
  border-color: var(--clr-satellite-border);
  border-style: solid;
  background-color: var(--clr-sun);
  border-radius: 100%;
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.craters {
  position: relative;
  opacity: 0;
  top: calc(var(--satellite-size) * 0.1);
  left: calc(var(--satellite-size) * 0.5);
  width: calc(var(--satellite-size) * 0.25);
  height: calc(var(--satellite-size) * 0.25);
}

.craters,
.craters::before,
.craters::after {
  position: relative;
  display: block;
  background-color: var(--clr-crater);
  border-radius: 50%;
  content: "";
  box-shadow: 0 0 0 1px inset var(--clr-crater-border);
  transition: all 0.3s ease-in-out;
}

.craters::before {
  position: absolute;
  width: calc(var(--satellite-size) * 0.15);
  height: calc(var(--satellite-size) * 0.15);
  top: calc(var(--satellite-size) * 0.02);
  left: calc(var(--satellite-size) * -0.4);
}

.craters::after {
  position: absolute;
  width: calc(var(--satellite-size) * 0.15);
  height: calc(var(--satellite-size) * 0.15);
  top: calc(var(--satellite-size) * 0.5);
  left: calc(var(--satellite-size) * 0.25);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  z-index: 0;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cloud {
  position: relative;
  display: block;
  top: calc(var(--toggle-size-y) * -0.35);
  height: calc(var(--satellite-size) / 3.5);
  width: calc(var(--satellite-size) / 1);
  z-index: 3;
  background: var(--clr-cloud);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 6.25rem;
  translate: 0.5rem;
  animation: cloud 6s linear infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(var(--toggle-size-x));
  }
}

.cloud:after,
.cloud:before {
  content: "";
  position: absolute;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  top: calc(var(--satellite-size) * -0.15);
  left: calc(var(--satellite-size) * 0.25);
  height: calc(var(--satellite-size) / 3.5);
  width: calc(var(--satellite-size) / 3.5);
  z-index: 1;
}
.cloud::before {
  top: calc(var(--satellite-size) * -0.25);
  right: calc(var(--satellite-size) * 0.15);
  height: calc(var(--satellite-size) / 2.5);
  width: calc(var(--satellite-size) / 2.5);
  z-index: 2;
}

input:checked + .toggle {
  --border-container: hsl(220, 65%, 55%);
}

input:checked + .toggle .stars {
  background: var(--clr-sky-night);
  opacity: 1;
}
input:checked + .toggle .satellite {
  background-color: var(--clr-moon);
  --clr-satellite-border: hsl(0, 0%, 60%);
  /* left: calc(var(--toggle-size-x) - 1rem); */
  transform: translateX(calc(var(--toggle-size-x) - var(--satellite-size))) rotate(0);
}
input:checked + .toggle .craters {
  opacity: 1;
}

input:checked + .toggle .cloud {
  display: none;
}

input:checked + .toggle .satellite .crater {
  opacity: 1;
}

.stars span,
.stars span::before,
.stars span::after {
  position: absolute;
  display: block;
  background: var(--clr-star);
  border-radius: 50%;
  content: "";
}

.stars span:nth-child(1) {
  top: 65%;
  left: 15%;
  width: var(--star-size-2);
  height: var(--star-size-2);
}
.stars span:nth-child(2) {
  top: 60%;
  left: 35%;
  width: var(--star-size-1);
  height: var(--star-size-1);
}

.stars span:nth-child(1)::before {
  bottom: 0.625em;
  left: 0.25em;
  width: var(--star-size-1);
  height: var(--star-size-1);
}
.stars span:nth-child(2)::before {
  bottom: 0.625em;
  left: 0.25em;
  width: var(--star-size-2);
  height: var(--star-size-2);
}
.stars span:nth-child(1)::after {
  bottom: 0.938em;
  left: -0.063em;
  width: var(--star-size-1);
  height: var(--star-size-1);
}

.stars span:nth-child(2)::after {
  bottom: 0.938em;
  left: -0.033em;
  width: var(--star-size-1);
  height: var(--star-size-1);
}
