.drawer {
  position: fixed;
  /* display: flex; */
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  background-color: var(--primary);
  color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.drawer.closed {
  transform: translateX(-100%);
}

.drawer.open {
  transform: translateX(0);
}
