.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown .menu {
  display: none;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  right: 0;
}

.dropdown .menu.open {
  display: block;
}

.dropdown-label {
  display: flex;
  align-items: center;
}

.dropdown-label:hover {
  color: var(--clr-accent);
}

.menu {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  flex-wrap: wrap;
  box-shadow: 0 0 0.5rem 0.15rem var(--shadow);
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;

  justify-content: space-between;
  padding: 1.5rem 2.25rem;
  z-index: 2;
  color: var(--clr-text-dark);
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: var(--clr-accent);
  color: var(--clr-text-light, --clr-text);
  cursor: pointer;
}

.menu-item.is-selected {
  background-color: hsl(var(--grey));
  color: var(--clr-text-light, --clr-text);
}
