.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown .menu {
  display: none;
  position: absolute;
  z-index: 2;
  transform-origin: right;
  transition: display 1s ease-in-out;
}

.dropdown .menu.open {
  display: block;
}

.menu {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  flex-wrap: wrap;
  box-shadow: 0 0 0.4rem hsl(var(--shadow));
  background-color: white;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  z-index: 2;
  color: var(--clr-text-dark);

  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: var(--clr-accent);
  color: var(--clr-text-light);

  cursor: pointer;
}
