.dropdown {
  user-select: none;
  position: relative;
  display: inline-block;
}

.dropdown .menu {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  right: 0;
}

.dropdown .menu.open {
  display: block;

  box-shadow: 0 0 1.2rem 0rem hsla(var(--shadow), 0.3);
}

.dropdown-label {
  display: flex;
  align-items: center;
}

.dropdown-label:hover {
  color: hsl(var(--accent));
}

.menu {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  flex-wrap: wrap;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 1.5rem 2.25rem;
  color: var(--clr-text-dark);
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: hsl(var(--accent));
  color: var(--clr-text-light, --clr-text);
  cursor: pointer;
}

.menu-item.is-selected {
  background-color: hsl(var(--accent));
  color: var(--clr-text-light, --clr-text);
}
