.input,
.textarea {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 0.55rem;
  padding: 1.6rem 1.2rem;
  width: 100%;
  height: 100%;
  line-height: normal;
  background-color: var(--bg-form, --white);
  outline: currentcolor none medium;
  border: 0px none;
  resize: vertical;
  color: var(--clr-text);
  transition: all 0.1s ease 0s;
}

.textarea-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus-within + .form-decoration,
textarea:focus-within + .form-decoration {
  opacity: 1;
  transform: scaleX(1);
}

input:focus-within {
  background-color: var(--clr-accent-hover);
}

input::placeholder,
textarea::placeholder {
  font-size: 1.3rem;
  color: var(--clr-placeholder);
}

.form-decoration {
  position: absolute;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: calc(100% - 1px);
  height: 4px;
  background-color: var(--clr-accent);
  pointer-events: none;
  opacity: 0;
  transform: scaleX(0.5);
  transition: all 0.2s ease 0s;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 1rem;
}
