.input,
.textarea {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 6px;
  padding: 1.6rem 1.2rem;
  width: 100%;
  height: 100%;
  line-height: normal;
  background: hsl(var(--base-3, --white));
  outline: currentcolor none medium;
  border: 2px solid transparent;
  resize: vertical;
  color: var(--clr-text);
  transition: all 0.1s ease 0s;
}

.textarea-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus-within,
input:focus,
textarea:focus-within {
  border: 2px solid hsl(var(--accent), 0.45);
}

/* check if color-scheme is dark */
[data-theme="dark"] input:focus-within,
[data-theme="dark"] textarea:focus-within {
  background-color: hsl(var(--accent), 0.1);
}

input::placeholder,
textarea::placeholder {
  font-size: 1.3rem;
  color: var(--clr-placeholder);
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container > * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 1rem;
}
