.input,
.textarea {
  position: relative;
  display: flex;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  width: clamp(100px, -webkit-fit-content, 100%);
  width: clamp(100px, -moz-fit-content, 100%);
  width: clamp(100px, fit-content, 100%);
  height: 100%;
  caret-color: var(--primary);
  background-color: var(--background-input);
  outline: currentcolor none medium;
  border: 0px none;
  color: rgb(30, 37, 50);
  transition: all 0.1s ease 0s;
}

.textarea-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input:focus,
textarea:focus {
  outline: none;
}

input:focus-within + .form-decoration {
  opacity: 1;
  transform: scaleX(1);
}

textarea:focus-within + .form-decoration {
  opacity: 1;
  transform: scaleX(1);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

input::placeholder,
textarea::placeholder {
  font-size: small;
  color: var(--color-placeholder);
}

.form-decoration {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  border-radius: 0px 0px 2px 2px;
  pointer-events: none;
  opacity: 0;
  transform: scaleX(0.5);
  transition: all 0.2s ease 0s;
}

.input-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.input-file {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
}

.input-avatar {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  background-color: var(--background-input);
}

.image {
  display: inline-flex;
  overflow: hidden;
  width: auto;
  object-fit: cover;
}

.initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-text);
}
