:root {
  --top-offset: 0;
}

.header {
  z-index: 1;
  position: fixed;
  top: var(--top-offset);
  left: 0;
  height: var(--header-height);
  width: 100%;
  background: hsl(var(--surface-content));
  color: hsl(var(--surface));
  fill: hsl(var(--surface));
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar nav {
  white-space: nowrap;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-branding {
  text-transform: uppercase;
  font-size: var(--fs-big);
  font-weight: var(--fw-semibold);
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0;
  justify-content: center;
}
