.app-nav {
  top: 0;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: clamp(var(--header-height), var(--header-height), var(--header-height));
  width: 100%;
  transition: var(--smooth);
  background: hsl(var(--app-background));
  box-shadow: 0 4px 30px var(--shadow);
  backdrop-filter: blur(0px);
  color: var(--clr-text-title);
  fill: var(--clr-text-title);
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  padding: 0 0.5rem;
  line-height: 0;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  text-transform: uppercase;
  display: flex;
  text-align: center;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0;
  justify-content: center;
}

.github-icon {
  margin-left: auto;
  margin-right: 0.5rem;
}

.app-nav.fade {
  /* background: hsla(var(--clr-secondary) 0.8); */
  box-shadow: 0 4px 30px hsla(var(--black), 0.15);
  backdrop-filter: blur(10px) !important;
}
