.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  background: hsl(var(--secondary));
  /* box-shadow: 0 0.25rem 1rem hsl(var(--shadow), 0.1); */
  color: var(--base-content);
  fill: var(--base-content);
  display: flex;
  align-items: center;
  padding-block: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.navbar nav {
  white-space: nowrap;
  flex: 1 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-branding {
  text-transform: uppercase;
  font-size: var(--fs-big);
  font-weight: var(--fw-semibold);
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 0;
  justify-content: center;
}

/* select parent element of github icon */
/* *:hover > svg {
  stroke: hsl(var(--accent));
} */
