html {
  --selected-background: hsl(0, 0%, 100%);
  --selected-thumb: hsl(0, 0%, 100%);
  --selected-thumb-hover: hsl(0, 0%, 100%);
  --position-thumb: 0%;
  --level-width: 80px;
}

.level-container {
  display: flex;
  flex-direction: column;
  width: calc(var(--level-width) * 4);
  height: 100%;
}

.level-selector {
  display: flex;
  padding: 0;
  z-index: 1;

  margin: 0;
  position: relative;
  overflow: hidden;
  height: calc(var(--level-width) / 1.2);
  border-radius: 0.4rem;
  transform: translateX(0px);
  background-color: var(--selected-background, var(--bg-input));
  pointer-events: auto;
}

.level-selector.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: var(--bg-disabled);
  --selected-thumb: var(--clr-disabled);
}

.level:not(.selected) {
  cursor: pointer;
}

.level {
  flex: 1;
  width: var(--level-width);
  height: calc(var(--level-width));
  position: relative;
}

.level:not(.selected):not(:first-child)::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: var(--selected-thumb);
}

.level:not(.selected):hover {
  border-radius: 0.5rem;
  background: var(--selected-thumb-hover);
}

.thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(var(--level-width));
  height: calc(var(--level-width) / 1.2);
  z-index: 0;
  border-radius: 0.4rem;
  background-color: var(--selected-thumb);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateX(var(--position-thumb));
}

.level-1 {
  --selected-background: hsl(var(--orange), 85%);
  --selected-thumb: hsl(var(--orange), 55%);
  --selected-thumb-hover: hsl(var(--orange), 80%);
  --position-thumb: 0%;
}

.level-2 {
  --selected-background: hsl(var(--green), 85%);
  --selected-thumb: hsl(var(--green), 55%);
  --selected-thumb-hover: hsl(var(--green), 70%);
  --position-thumb: calc(var(--level-width) * 1);
}

.level-3 {
  --selected-background: hsl(var(--blue), 85%);
  --selected-thumb: hsl(var(--blue), 55%);
  --selected-thumb-hover: hsl(var(--blue), 80%);
  --position-thumb: calc(var(--level-width) * 2);
}

.level-4 {
  --selected-background: hsl(var(--violet), 85%);
  --selected-thumb: hsl(var(--violet), 55%);
  --selected-thumb-hover: hsl(var(--violet), 80%);
  --position-thumb: calc(var(--level-width) * 3);
}
