:root {
  --selected-background: hsl(0, 0%, 100%);
  --selected-thumb: hsl(0, 0%, 100%);
  --selected-thumb-hover: hsl(0, 0%, 100%);
  --position-thumb: 0%;
}

.level-container {
  display: flex;
  flex-direction: column;
  width: clamp(48px, 100%, 250px);
}

.level-selector {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 3rem;
  border-radius: 0.25rem;
  transform: translateX(0px);
  background-color: var(--selected-background, var(--background-input));
  pointer-events: auto;
}

.level-selector.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: var(--disabled-background);
  --selected-thumb: var(--disabled-color);
}

.level:not(.selected) {
  cursor: pointer;
}

.level {
  flex: 1;
  position: relative;
}

.level:not(.selected):not(:first-child)::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: var(--selected-thumb);
}

.level:not(.selected):hover {
  border-radius: 0.25rem;
  background: var(--selected-thumb-hover);
}

.thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--selected-thumb);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateX(var(--position-thumb));
}

.level-1 {
  --selected-background: var(--orange-lighter);
  --selected-thumb: var(--orange-medium);
  --selected-thumb-hover: var(--orange-light);
  --position-thumb: 0%;
}

.level-2 {
  --selected-background: var(--green-lighter);
  --selected-thumb: var(--green-medium);
  --selected-thumb-hover: var(--green-light);
  --position-thumb: 100%;
}

.level-3 {
  --selected-background: var(--blue-lighter);
  --selected-thumb: var(--blue-medium);
  --selected-thumb-hover: var(--blue-light);
  --position-thumb: 200%;
}

.level-4 {
  --selected-background: var(--violet-lighter);
  --selected-thumb: var(--violet-medium);
  --selected-thumb-hover: var(--violet-light);
  --position-thumb: 300%;
}
