@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
  .mobile-show {
    display: block;
    max-width: var(--breakpoint-mobile);
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .tablet-hide {
    display: none;
  }
  .tablet-show {
    display: block;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .laptop-hide {
    display: none;
  }
  .laptop-show {
    display: block;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
  .desktop-hide {
    display: none;
  }
  .desktop-show {
    display: block;
  }
}

@media screen and (min-width: 1441px) {
  .widescreen-hide {
    display: none;
  }
  .widescreen-show {
    display: block;
  }
}
