.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1.2rem;
  cursor: pointer;
}

.modal {
  position: relative;
  width: clamp(250px, 100%, 540px);
  max-height: 90vh;
  overflow-y: auto;
  max-width: 540px;
  background: hsl(var(--white));
  border-radius: 6px;

  z-index: 2;
  padding: 32px 40px;
}

.modal-header {
  display: flex;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-medium);
  color: hsl(var(--black));
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
  z-index: 2;
  padding: 1rem 2rem;
}

.modal-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.45rem 0.65rem;
}
