.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
  background-color: var(--primary);
  color: var(--white);
  border-bottom: 1px solid var(--shadow);
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;
  line-height: 0;
  align-items: center;
  justify-content: space-between;
}
