.app-nav {
  top: 0;
  z-index: 1;
  overflow: hidden;
  position: sticky;
  height: auto;
  transition: var(--smooth);
  background-color: hsl(var(--clr-accent));
  color: var(--clr-text-light);
  fill: var(--clr-text-light);
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  padding: 0.85rem 1.5rem;
  line-height: 0;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  text-transform: uppercase;
  display: flex;
  text-align: center;
}

.github-icon {
  width: 40px;
  height: 40px;
}
.app-nav.shrink {
  padding: 0.5rem 1rem;
  box-shadow: 0 0 5px var(--shadow);
}

.github-icon.shrink {
  width: 24px;
  height: 24px;
  margin: 0.5rem;
}

.app-title.shrink {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;

  text-transform: uppercase;
}

.box {
  border: 2px solid var(--shadow);
  width: 128px;
  height: 128px;
}
