.preview-wrapper {
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: var(--blue-darkest);
  color: rgb(255, 255, 255);
  /* user-select: none; */
  z-index: 1;
}

.page {
  position: relative;
  top: 0;
  margin: 0 auto;
  left: 0;
  transform: scale(0.75);
  border-radius: 0.25rem;
  background-color: aliceblue;
  width: clamp(24rem, 100%, 28rem);
  height: clamp(28rem, 100%, 32rem);
}

.preview-title {
  line-height: 0%;
  padding: 0;
  /* margin: 0.5rem; */
}
