.preview-wrapper {
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  overflow: auto;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: var(--blue-darkest);
  color: rgb(255, 255, 255);
  /* user-select: none; */
  z-index: 1;
}

.page {
  position: relative;
  top: 0;
  margin: 0 auto;
  left: 0;
  /* width: m; */
  /* origin top */
  transform: scale(0.9);
  width: 210mm;
  height: 297mm;
  /* dimensions for A4 */
  /* width: 210mm; */

  /* height: 297mm; */
  border-radius: 0.25rem;
  background-color: aliceblue;
  /* width: clamp(8rem, 210mm, 210mm); */
  /* height: clamp(14rem, 297mm, 297mm); */
}

.preview-title {
  line-height: 0%;
  padding: 0;
  /* margin: 0.5rem; */
}
