.preview-wrapper {
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  inset: 0px;
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: var(--blue-darkest);
  color: rgb(255, 255, 255);
  /* user-select: none; */
  z-index: 1;
}

.page {
  display: block;
  size: 7in 9.25in;
  margin: 27mm 16mm 27mm 16mm;
  overflow: auto;
  border-radius: 0.25rem;
  font-size: smaller;
  background-color: white;
}

.preview-title {
  line-height: 0%;
  padding: 0;
  /* margin: 0.5rem; */
}
