@media print {
  .print-hide {
    display: none;
    visibility: hidden;
  }

  .print-show {
    display: block;
    visibility: visible;
  }

  /* disable headers and footers */
  /* adjust page size to A4 ISO format */

  @page {
    size: A4;
    margin: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .paper {
    width: 210mm;
    height: 297mm;
  }
}
