@media print {
  .print-hide {
    display: none;
    visibility: hidden;
  }

  .print-show {
    display: block;
    visibility: visible;
  }

  /* adjust page size to A4 ISO format */

  @page {
    size: A4 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  /* disable headers and footers */
  /* adjust page margins */
  @page {
    margin: 0;
    padding: 0;
  }

  body,
  html {
    background-color: none;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  .page {
    /* width: 210mm; */
    /* height: 297mm; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* page-break-after: always; */
  }
}
