:root {
  --background-1: hsl(0, 94%, 92%);
  --background-2: hsl(38, 92%, 92%);
  --background-3: hsl(142, 71%, 92%);
  --background-4: hsl(207, 74%, 92%);
  --thumb-1: hsl(0, 94%, 65%);
  --thumb-2: hsl(38, 92%, 50%);
  --thumb-3: hsl(142, 71%, 45%);
  --thumb-4: hsl(207, 74%, 65%);
  /* --thumb-4: hsl(263, 74%, 65%); */
  --hover-thumb-1: hsl(0, 94%, 80%);
  --hover-thumb-2: hsl(38, 92%, 80%);
  --hover-thumb-3: hsl(142, 71%, 80%);
  --hover-thumb-4: hsl(207, 74%, 80%);
  --selected-background: hsl(0, 0%, 100%);
  --selected-thumb: hsl(0, 0%, 100%);
  --selected-thumb-hover: hsl(0, 0%, 100%);
  --position-thumb: 0%;
  --disabled-thumb: hsl(240, 10%, 80%);
  --disabled-background: hsl(240, 10%, 95%);
}

.level-container {
  display: flex;
  flex-direction: column;
  width: clamp(48px, 100%, 250px);
}

.level-selector {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 3rem;
  border-radius: 0.25rem;
  transform: translateX(0px);
  background-color: var(--selected-background, var(--background-input));
  pointer-events: auto;
}

.level-selector.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: var(--disabled-background);
  --selected-thumb: var(--disabled-thumb);
}

.level:not(.selected) {
  cursor: pointer;
}

.level {
  flex: 1;
  position: relative;
}

.level:not(.selected):not(:first-child)::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: var(--selected-thumb);
}

.level:not(.selected):hover {
  border-radius: 0.25rem;
  background: var(--selected-thumb-hover);
}

.thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--selected-thumb);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: translateX(var(--position-thumb));
}

.level-1 {
  --selected-background: var(--background-1);
  --selected-thumb: var(--thumb-1);
  --selected-thumb-hover: var(--hover-thumb-1);
  --position-thumb: 0%;
}

.level-2 {
  --selected-background: var(--background-2);
  --selected-thumb: var(--thumb-2);
  --selected-thumb-hover: var(--hover-thumb-2);
  --position-thumb: 100%;
}

.level-3 {
  --selected-background: var(--background-3);
  --selected-thumb: var(--thumb-3);
  --selected-thumb-hover: var(--hover-thumb-3);
  --position-thumb: 200%;
}

.level-4 {
  --selected-background: var(--background-4);
  --selected-thumb: var(--thumb-4);
  --selected-thumb-hover: var(--hover-thumb-4);
  --position-thumb: 300%;
}
