.level-selector {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 3rem;
  min-width: 16rem;
  border-radius: 0.25rem;
  background-color: var(--background-input);
  transition: background-color 0.2s ease 0s;
  transform: translateZ(0px);
  pointer-events: auto;
}

.level {
  display: inline-block;
  position: relative;
  flex-grow: 1;
  cursor: pointer;
}

.level-1 {
  background-color: #eab473;
}

.level-2 {
  background-color: #eae073;
}

.level-3 {
  background-color: #81ea73;
}

.level-4 {
  background-color: #73b4ea;
}

.level.selected {
  height: 4.3rem;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
}

.thumb-1 {
  background-color: hsl(33, 74%, 55%);
  box-shadow: 0px 0px 0px 0.25rem hsl(33, 74%, 55%);
}

.thumb-2 {
  background-color: hsl(55, 74%, 50%);
  box-shadow: 0px 0px 0px 0.25rem hsl(55, 74%, 50%);
}

.thumb-3 {
  background-color: hsl(113, 74%, 55%);
  box-shadow: 0px 0px 0px 0.25rem hsl(113, 74%, 55%);
}

.thumb-4 {
  background-color: hsl(207, 74%, 55%);
  box-shadow: 0px 0px 0px 0.25rem hsl(207, 74%, 55%);
}
