.toggle {
  --toggle-width: 3rem;
  --toggle-height: calc(var(--toggle-width) / 1.8);
  flex-shrink: 0;
  --toggle-background: hsl(var(--base));
  --offset: calc(var(--toggle-width) / 2);
  --offset-enabled: calc(var(--offset) * -1);
  --toggle-border: 0 0;
  height: var(--toggle-height);
  width: var(--toggle-width);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  --border-opacity: 0.2;
  border: 1px solid hsl(var(--secondary) / var(--border-opacity));
  --bg-opacity: 0.5;
  background-color: hsl(var(--secondary) / var(--bg-opacity));
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--border-radius, 1rem);
  transition: background, box-shadow 0.2s ease-in-out;
  box-shadow: var(--offset-enabled) 0 0 2px var(--toggle-background) inset, 0 0 0 2px var(--toggle-background) inset,
    var(--toggle-border);
}
.toggle:checked,
.toggle[aria-checked="true"] {
  --text-opacity: 1;
  --offset-enabled: var(--offset);
  --border-opacity: 1;
  --bg-opacity: 1;
  font-weight: var(--fw-semibold);
}

.toggle + .label-toggle {
  --text-opacity: 0.5;
  color: hsl(var(--base-content) / var(--text-opacity));
}

.toggle:checked + .label-toggle,
.toggle[aria-checked="true"] + .label-toggle {
  --text-opacity: 1;
}

.toggle-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  gap: 1rem;
}
