.chevron {
  margin-left: 0.5rem;
  height: 24px;
  width: 24px;
  transition: all 0.2s ease-in-out;
}

.chevron-open {
  transform: rotate(-180deg);
}

.chevron-closed {
  transform: rotate(-0deg);
}
.icon {
  width: 20px;
  margin-right: 0.25rem;
  height: 20px;
  font-weight: 800;
}
