:root {
  --position-glider: 0%;
  --tab-width: 100px;
  --padding-container: 0.5rem;
}

.tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(48px, 64px, 900px);
  height: clamp(48px, 64px, 600px);
  background-color: hsl(241, 40%, 95%);
  overflow: hidden;
  padding: var(--padding-container) 0;
  box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.1);
  border: 2px solid var(--shadow);
  margin: 4px;
  border-radius: 0.15rem;
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row;
  flex: 0;
  width: fit-content;
}

.vertical {
  flex-direction: column;
  width: fit-content;
}

.tabs.nowrap {
  flex-wrap: nowrap;
}

.button-tab {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  /* padding: 0.5rem 1rem; */
  height: clamp(2rem, 4vw, 3rem);
  width: var(--tab-width);
  cursor: pointer;
}

/* .button-tab.active {
  background-color: white;
  border-radius: 0.25rem;
  transition: background-color 0.5s ease-in;
  box-shadow: 0 0 0.25rem hsla(0, 0%, 0%, 0.1);
} */

.glider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(var(--tab-width));
  height: 100%;
  border-radius: 0.25rem;
  padding: var(--padding-container);
  background-color: hsla(260, 70%, 70%, 1);
  /* blend mode */
  mix-blend-mode: multiply;
  transition: all 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 0;
  transform: translateX(var(--position-glider));
}

/* for each tab translate glider */
.tab-0 {
  --position-glider: 0%;
}

.tab-1 {
  --position-glider: 100%;
}

.tab-2 {
  --position-glider: 200%;
}

.tab-3 {
  --position-glider: 300%;
}
