.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
