a.link {
  text-decoration: none;
  color: var(--clr-text);
  border-bottom: 2px solid transparent;
}

a.link:hover {
  border-bottom: 2px dotted var(--clr-text);
}

.card-title {
  font-weight: var(--fw-medium);
  margin: 0;
  padding: 0;
  line-height: normal;
  text-transform: none;
}

.label {
  display: block;
  color: var(--clr-label);
}
