.heading-0 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.08em;
  color: #334;
  margin: 0px !important;
  padding: 1rem;
}
.heading-1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-top: 0;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.heading-3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.label {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: var(--label-color);
  margin-top: 0.5rem;
}

.add-new-entry {
  display: inline-flex;
  align-items: center;
  margin-right: 0.25rem;
  color: var(--muted);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 0.25rem;
  font-size: small;
  padding: 0.75rem 1rem;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-new-entry:hover {
  color: white;
  background-color: var(--color-preview-background);
}

.link {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
  height: 24px;
  width: 24px;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
/* .link:hover {
  text-decoration: underline;
  background-color: var(--accent);
} */
