.heading-0 {
  font-weight: 600;
  color: #334;
  text-transform: uppercase;
  text-align: center;
}
.heading-1 {
  font-size: xx-large;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-top: 0;
}

.heading-2 {
  font-size: x-large;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.heading-3 {
  font-size: large;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.label {
  font-size: small;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  width: fit-content;
  width: auto;
  color: var(--label-color);
}

.add-new-entry {
  display: inline-flex;
  align-items: center;
  margin-right: 0.25rem;
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 0.25rem;
  font-size: small;
  padding: 0.5rem 0.75rem;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-new-entry:hover {
  color: var(--white);
  background-color: var(--secondary);
}

.text-muted {
  color: var(--muted);
}
